.AboutContainer {
  background: #0005;
}

.About {
  display: grid;
  height: 100%;
  color: white;
  padding: 2rem;
  grid-template-columns: minmax(250px, 100%);
  grid-template-areas:
    "body"
    "management"
    "people";
  position: relative;
}

.About .Title {
  grid-area: header;
  justify-self: center;
  color: white;
  padding-top: 2rem;
  display: flex;
  padding-left: 0px;
}

.AboutBody {
  grid-area: body;
  width: 100%;
  padding: 2rem;
  font-size: clamp(1.5rem, 1.5vw, 1.7rem);
  max-width: 600px;
  text-align: justify;
  justify-self: center;
  display: flex;
  flex-direction: column;
  /* border-radius: 5px;
  background: #0005; */
}

.About img {
  padding: 2rem;
  margin: auto;
  height: 150px;
  backdrop-filter: blur(2px);
  border-radius: 20%;
}

.About h1 {
  font-size: 3rem;
  text-align: center;
}

.AboutTableBox {
  grid-area: table;
  max-height: 310px;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  color: black;
  justify-self: center;
}

.About .Management {
  grid-area: management;
  padding: 2rem 0;
  font-size: clamp(1.4rem, 1.5vw, 1.5rem);
  max-width: 1000px;
  text-align: justify;
  justify-self: center;
}

.About .People {
  grid-area: people;
  padding: 2rem 0;
  font-size: clamp(1.4rem, 1.5vw, 1.5rem);
  max-width: 800px;
  text-align: justify;
  justify-self: center;
}

@media (min-width: 800px) {
  /* .People {
    grid-template-columns: minmax(250px, 1.5fr) repeat(3, minmax(125px, 1fr));
    grid-template-areas:
      "header header header header"
      "body map map map";
  } */

  .PeopleTableBox {
    justify-self: right;
  }

  .PeopleMap {
    padding: 2rem 0rem 0rem 4rem;
  }

  .People .Title {
    padding-left: 100px;
  }
}
