:root {
  /* --primary: #0984d2;
  --primary-light: #6fadff; */
  --primary: #003d30;
  --primary-opacity: #003d30aa;
  --primary-light: #a8cfc7;
  --primary-light-opacity: #a8cfc7dd;
  --secondary: #212121;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --lightGreen: #a8cfc7;
  --darkGreen: #306156;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary-light);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  /* lucida fax */
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

/* Layout */

.section {
  width: 100%;
  padding: 7.5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

.container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

#nc-root {
  position: absolute !important;
  height: 100% !important;
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  z-index: 10;
}

.AppContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 100%;
  background: var(--primary);
}

.AppContainerBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.BackgroundImage {
  filter: saturate(0);
  opacity: 0.3;
  object-fit: cover;
  /* animation: slowmove 60s; */
}

@keyframes slowmove {
  0% {
    background-position: 50% 30%;
  }
  100% {
    background-position: 20% 30%;
  }
}

.AppBody {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.AppComponent {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  position: relative;
}

.Container {
  max-width: 1111px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.WideContainer {
  max-width: 1611px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.AppFooter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background: #fff1;

  color: white;
  stroke: white;
}

.AppFooter img {
  max-height: 50px;
  height: auto;
  max-width: 35vw;
}

.AppFooter a {
  text-decoration: none;
}

.AppFooter svg {
  height: 60px;
}

.AppFooter .Empty {
  flex: 0 1 auto;
  width: 5rem;
}

.LogoAndName {
  display: flex;
  padding: 0.6rem 1rem 0.2rem 1rem;
  border-radius: 2px;
}

.LogoAndName a {
  color: white;
}

.LogoAndName .Logo {
  height: 5rem;
  width: 5rem;
}

.LogoAndName .Name {
  cursor: default;
  color: white;
  font-weight: 600;
  padding-top: 2px;
  line-height: 2rem;
  padding-left: 5px;
  overflow: hidden;
  max-width: 100%;
  transition: max-width 1s;
}

/* Buttons */

.Button {
  background: var(--primary);
  border: 2px solid black;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 5px;
}
.Button:hover,
.Button:focus {
  background: var(--primary-light);
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button.Button--inverted {
  background: white;
  border-color: white;
  color: var(--primary);
}
.Button.Button--inverted:hover,
.Button.Button--inverted:focus {
  background: transparent;
  border-color: currentColor;
  color: white;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0)),
    linear-gradient(
      -32deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0)
    );
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-light);
  margin-right: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.left-in {
  --slide-from: -100%;
  animation: slideIn 0.5s;
  -webkit-animation: slideIn 0.5s;
}

.right-in {
  --slide-from: 100%;
  animation: slideIn 0.5s;
  -webkit-animation: slideIn 0.5s;
}

@keyframes slideIn {
  0% {
    transform: translateX(var(--slide-from, -100%))
      translateY(var(--slide-from-y, 0%));
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(var(--slide-from, -100%))
      translateY(var(--slide-from-y, 0%));
  }
  100% {
    -webkit-transform: translateX(0%) translateY(0%);
  }
}

.fade-in {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
}

.fade-in-slow {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.EmptyFlex {
  flex: 1 1 auto;
}

.spacer {
  aspect-ratio: 960/150;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave {
  background-image: url("./wave.svg");
}

.Underwater {
  position: relative;
  height: 70px;
  background: var(--primary-light);
}
