.Home {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Home .Header {
  position: relative;
  color: white;
  height: 100%;
  width: 100%;
  padding: 5rem 0;
  text-shadow: 1px 1px 5px black;
}

.Home .HeaderContainer {
  position: relative;
  text-align: center;
}

.Home .Title {
  font-size: clamp(2rem, 8vw, 5rem);
  text-align: center;
  margin-bottom: 0;
}

.Home .Subtitle {
  font-weight: 400;
  text-align: center;
  font-size: clamp(1.8rem, 6vw, 3rem);
}

/* .Home .AppComponentImage {
  filter: grayscale(100%) invert(100%);
  top: -110px;
  opacity: 0.5;
  z-index: 0;
} */

.Home .Logo {
  position: absolute;
  top: 0;
  left: 65%;
  margin-top: clamp(0px, 2vw, 15px);
  width: 40%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Home .Body {
  position: relative;
  z-index: 900;
  margin: 1rem;
}

.BodyContainer {
  position: relative;
  display: flex;
  box-shadow: 2px 2px 15px black;
  border: 1px solid var(--primary);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--primary-opacity);
  color: white;
  padding: 2rem;
  margin: 2rem auto;
  align-items: center;
  max-width: 800px;
}

.BodyContainer a {
  color: var(--primary-light);
}

.BodyContainer svg {
  height: 100px;
  width: 150px;
  stroke: white;
}

.BodyContainer img {
  height: 120px;
  padding-left: 1rem;
}

.BodyContainer.inverse {
  flex-direction: row-reverse;
  background-color: #fffb;
  color: var(--primary);
  backdrop-filter: blur(2px);
}

.BodyContainer.inverse svg {
  stroke: var(--primary);
}

.Cost {
  display: flex;
  max-width: 800px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
  color: var(--primary-light);
  font-size: clamp(1.5rem, 2vw, 2rem);
  position: relative;

  text-align: center;
  display: flex;
}

.Cost p {
  color: white;
  font-size: 0.75em;
}

.Cost svg {
  height: 100px;
  width: 150px;
  stroke: white;
}

.MapContainer {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: #fff8;
  padding: 2rem;
  align-items: center;
  backdrop-filter: blur(2px);
}

.Body div {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  text-align: justify;
}

@media (max-width: 600px) {
  .Home .BodyContainer {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .Home .MapContainer .Who {
    flex-direction: column;
    gap: 2rem;
  }
}
