.Nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 5%;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.Nav .NavContainer {
  display: flex;
  align-items: center;
  height: 6rem;
}

.Nav .NavLink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: inherit;
  text-decoration: none;
  position: relative;
  /* border-bottom: 2px solid;
  border-bottom-color: transparent; */
}

.Nav .NavLink + .NavLink {
  margin-left: 1rem;
}

.Nav .selected,
.NavLink:hover {
  color: var(--primary);
  border-bottom-color: currentColor;
}

.Nav .selected::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: url("./underline.svg") no-repeat center center/cover;
}

.Nav .Logo {
  stroke: var(--primary);
  height: 4.5rem;
  width: 4.5rem;
  padding: 0.6rem 2rem 0 0;
}
