.RoleGroupContainer {
  text-align: left;
  padding-bottom: 2rem;
}

.RoleGroupContainer h4 {
  background: white;
  border-radius: 5px;
  padding-left: 5px;
  color: var(--primary);
}

.RoleGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Person {
  width: calc(50% - 10px);
  padding: 5px 5px;
  line-height: 1.1em;
}

.Person div {
  font-size: 1em;
  font-weight: 500;
}

.Person label {
  font-size: 0.8em;
  line-height: 0;
  color: var(--primary-light);
}
