.PeopleContainer {
  background: black;
}

.People {
  display: grid;
  height: 100%;
  color: white;
  padding: 2rem;
  grid-template-columns: minmax(250px, 100%);
  grid-template-areas:
    "header"
    "body"
    "map"
    "table";
  position: relative;
}

.People .Title {
  grid-area: header;
  justify-self: center;
  color: white;
  padding-top: 2rem;
  display: flex;
  padding-left: 0px;
}

.People .Title h1 {
}

.People .Title svg {
  width: 100px;
  height: 100px;
  stroke: white;
  padding: 0 0 0px 20px;
  transform: translateY(-20%);
}

.PeopleBody {
  grid-area: body;
  padding: 2rem 0;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  justify-self: center;
}

.PeopleMap {
  grid-area: map;
  position: relative;
  padding: 2rem 0rem 0rem 0rem;
}

.PeopleTableBox {
  grid-area: table;
  max-height: 310px;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  color: black;
  justify-self: center;
}

@media (min-width: 700px) {
  .People {
    grid-template-columns: minmax(250px, 1.5fr) repeat(3, minmax(125px, 1fr));
    grid-template-areas:
      "header header header header"
      "body map map map"
      "body table table table";
  }

  .PeopleTableBox {
    justify-self: right;
  }

  .PeopleMap {
    padding: 2rem 0rem 0rem 4rem;
  }

  .People .Title {
    padding-left: 100px;
  }
}

.People .PopupContainer {
  display: flex;
}

.People .Popup {
  color: black;
  padding: 0rem 0.5rem;
}

.People .Country {
  color: black;
  text-align: center;
}

.People .Member {
  display: flex;
  line-height: 2rem;

  padding-left: 8px;
  position: relative;
}

.People .Member.selected {
  font-weight: 900;

  color: var(--primary);
}

.People .Member.selected::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--primary);
  position: absolute;
  left: 0;
  top: 8px;
}

.People .Popup .Member span {
  width: 20rem;
}

.People .IconGroup {
  display: flex;
}

.People .Icon {
  padding: 0.1rem;
  color: #333;
}

.People .SearchPerson {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-align: center;
  font-size: 12px;
  width: 18rem;
  color: black;
  padding: 0 0 5px 10px;
  background: #0007;
  border-radius: 5px;
}

.SearchPerson label {
  font-weight: 800;
  color: white;
}
