.RoleGroupContainer {
  text-align: left;
  padding-bottom: 2rem;
  max-width: 600px;
}

.RoleGroupContainer h4 {
  background: white;
  border-radius: 5px;
  padding-left: 5px;
  color: var(--primary);
  font-size: 1.6rem;
  text-align: center;
}

.RoleGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Person {
  width: calc(50% - 10px);
  padding: 5px 5px;
  line-height: 1.8rem;
}

.Person div {
  font-size: 1.8rem;
  font-weight: 500;
}

.Person label {
  font-size: 1.3rem;
  line-height: 0.5rem;
  color: var(--primary-light);
}
