.GridTable {
  --columns: 3;
  height: 100%;
  padding: 0rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), auto);
  overflow-y: scroll;
}

.GTBody,
.GTHeader,
.GTRow {
  display: contents;
}

.GTCell {
  padding: 0.5rem 1rem 0rem 0rem;
}

.GTHeader .GTCell {
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
  background: white;
  position: sticky;
  top: 0;
  font-size: 1.5em;
  padding: 1rem 1rem 1rem 0rem;
  margin-bottom: 1rem;
}
