.Home {
  display: flex;
  flex-direction: column;
}

.Home .Header {
  background-color: var(--primary);
  color: var(--primary);
  height: 100%;
  width: 100%;
  background: white;
  padding: clamp(10px, 5vh, 15rem) 0;
}

.Home .HeaderContainer {
  position: relative;
}

.Home .Title {
  font-size: clamp(18px, 8vw, 70px);
  margin-bottom: 0;
  width: 55%;
}

.Home .Subtitle {
  font-weight: 400;
  font-size: clamp(10px, 4vw, 30px);
  width: 55%;
}

.Home .Image {
  position: absolute;
  top: 0;
  left: 65%;
  margin-top: clamp(0px, 2vw, 15px);
  width: 40%;
  height: 100%;
}

.Home .BodyContainer {
  flex: 1 1 auto;
  background: var(--primary-light);
}

.Home .Body {
  padding-top: 20px;
  font-size: clamp(10px, 2vw, 15px);
}
