.PeopleContainer {
  background: black;
}

.People {
  display: grid;
  height: 100%;
  color: white;
  padding: 2rem;
  grid-template-columns: minmax(250px, 100%);
  grid-template-areas:
    "header"
    "body"
    "map"
    "table";
  position: relative;
}

.People .Title {
  grid-area: header;
  justify-self: center;
  color: white;
  padding-top: 2rem;
  font-size: 4rem;
}

.PeopleBody {
  grid-area: body;
  padding: 2rem 0;

  justify-self: center;
}

.PeopleMap {
  grid-area: map;
  padding: 2rem 0rem 0rem 4rem;
}

.PeopleTableBox {
  grid-area: table;
  max-height: 310px;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  color: black;
  justify-self: center;
}

@media (min-width: 700px) {
  .People {
    grid-template-columns: minmax(250px, 1.5fr) repeat(3, minmax(125px, 1fr));
    grid-template-areas:
      "header header header header"
      "body map map map"
      "body table table table";
  }

  .PeopleTableBox {
    justify-self: right;
  }
}

.People .PopupContainer {
  display: flex;
}

.People .Popup {
  color: black;
  padding: 0rem 0.5rem;
}

.People .Country {
  color: black;
  text-align: center;
}

.People .Popup .Member {
  cursor: pointer;
  display: flex;
}

.People .PersonPopup {
  padding-left: 1rem;
  margin: auto;
  color: black;
}

.People .PersonPopup .h3 {
  text-align: center;
}

.People .IconGroup {
  display: flex;
}

.People .Icon {
  padding: 0.1rem 0.4rem 0.1rem 0rem;
}
