.WGs {
  --icon-size: 4em;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: var(--primary);
  position: relative;
  margin: 0 auto;
}

.WGs .WorkingGroups {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
}

.WGs .WorkingGroup {
  color: white;
  text-align: center;
  transition: transform 1s;
  z-index: 10;
}

.WGs.Mini .WorkingGroup {
  transform: scale(0.5);
}

.Mini h3 {
  transition: transform 1s, font-size 1s;
  transform: scale(0);
  font-size: 0;
}

.WGs .Title {
  text-align: center;
  color: white;
  margin-top: 4rem;
  z-index: 10;
  transition: transform 1s, margin 1s;
  font-size: 4rem;
}

.WGs.Mini .Title {
  margin-top: -4rem;
  transform: scale(0);
}

@media screen and (max-width: 600px) {
  .WGs:not(.Mini) .WorkingGroups {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .WGs.Mini h3 {
    transition: font-size 0s;
    font-size: 0rem;
  }
}

.WGs .Card {
  cursor: pointer;
  /* border: 1px solid white;
    padding: 1em; */
  border-radius: 10px;
  height: 100%;
}

.WGs .Card:hover {
  color: var(--primary-light);
  transition: transform 0.2s;
  transform: translateY(-0.5rem);
}

.WGs .Icon {
  font-size: var(--icon-size);
}

.WGs .WorkingGroup h3 {
  color: white;
}

.WGs .WorkingGroupDetails {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 5rem 0 5rem;
  z-index: 10;
  color: white;
}
